


$bg-primary: white;
$font-primary: black;
$font-secondary: white;
$font-blue: #2A94E2;

$bg-button-blue: #2A94E2;
$bg-button-green: #37de48;
$bg-footer: #535860;
$border-button-blue: #2A94E2;